/* CSS Document */

input[type=submit]{
  background-color: red;
  border: white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 25px;
  font-weight: bold;
}
input[type=submit]:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
  
}

input[type=reset]{
  background-color: red;
  border: white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 25px;
  font-weight: bold;
}
input[type=rest]:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
  
}